.container1 {
    color: black;
    width: 70%;
    font-size: 20px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}

.title{
    text-align: center;
}

.title1{
    padding-bottom: 30px;
    padding-top: 50px;
}

.image{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 30px;
    width: 70%;
    margin: 0 auto;
}

.center{
    text-align: center;
    color: black;
    width: 70%;
    margin: 0 auto;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
}

.center1{
    font-style: italic;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container2{
    margin: 0 auto;
    width: 45%;
    display: flex;
    padding-top: 70px;
    text-align: center;
    color: black;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
}

.container3{
    padding-top: 50px;
    text-align: center;
    color: black;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
}

.container2__2 {
    width: 50%;
}

.container2__1 {
    width: 50%;
}

.link{
    display: flex;
    width: 30%;
    margin: 0 auto;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 100px;
    text-align: center;
}

.link__1 {
    width: 50%;
}

.link__2 {
    width: 50%;
}